.notFoundSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.goBackButton {
  height: 20px;
  background-color: var(--primary-color);
  padding: 17px 15px;
  gap: 10px;
}
.code {
  font-size: 4rem;
}

.description {
  font-weight: 300;
  font-size: 1.5rem;
}
