# Server options
APP_PORT="<app_port>"
APP_HOST="<app_host>"

# Client options
CLIENT_PORT="<app_port>"
CLIENT_HOST="<app_host>"

# Database must be here to use it in npx prisma generate
DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>"

# Your geolocation api key
API_GEOLOCATION_KEY="<Your geolocation api key>"

JWT_SECRET="<your jwt secret key>"
JWT_COOKIE_NAME="<your jwt cookie name>"
JWT_EXPIRES_IN="86400000" # 24h

# Cookie settings
COOKIE_HTTP_ONLY="true"
COOKIE_SECURE="false" # true recommended if production
COOKIE_SAME_SITE="lax" # strict recommended if production
COOKIE_MAX_AGE="86400000" # 24h
COOKIE_PATH="/"