APP_PORT="8080"
APP_HOST="localhost"

CLIENT_PORT="3000"
CLIENT_HOST="localhost"

DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>"

API_GEOLOCATION_KEY="<your key>"

JWT_SECRET="<your_secret_key>"
JWT_COOKIE_NAME="Token"
JWT_EXPIRES_IN="86400000"

COOKIE_HTTP_ONLY="true"
COOKIE_SECURE="true"
COOKIE_MAX_AGE="86400000"
COOKIE_SAME_SITE="lax"
COOKIE_PATH="/"