.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.card:hover {
  background-color: var(--hovered-card-color);
}
.cardHeader {
  font-size: 1.725rem;
  font-weight: 500;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cardFooter {
  display: flex;
  align-items: center;
  gap: 20px;
}
