.tabs {
  width: 400px; /* можно менять через проп className */
  font-family: sans-serif;
}

.tabsList {
  display: flex;
  justify-content: space-between;
  background-color: var(--border-color);
  padding: 4px;
  border-radius: 0.375rem;
}

.tabsTrigger {
  background-color: transparent;
  height: 32px;
  font-size: 0.925rem;
  display: flex;
  width: 100%;
  align-items: center; /* заменил place-items */
  justify-content: center;
  border-radius: 0.375rem;
  color: var(--text-color-2);
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.tabsTriggerActive {
  background-color: var(--color-bg);
  color: var(--text-color-3);
}

.tabsContent {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: var(--color-bg);
  border-radius: 0.375rem;
  color: var(--text-color-1);
}
