.dataSkeleton {
  background: linear-gradient(blue, pink);
  height: 1.125rem;
  width: 100%;
  max-width: 300px;
  height: 1.125;
  border-radius: 5px;
  background: linear-gradient(90deg, #bbbbbb 25%, #888888 50%, #bbbbbb 75%);
  background-size: 200% 200%;
  animation: var(--shimmer-animation);
}
.dataContainerSkeleton {
  height: 30px;
  padding: 5px 20px;
}
