.dropDownElement {
  display: flex;
  align-items: center;
  justify-content: start !important;
  height: 40px !important;
  padding: 0 14px;
  white-space: nowrap;
  gap: 10px;
}
.formHeader {
  font-size: 1.3rem;
  font-weight: 500;
}
.formDescription {
  color: var(--text-color-2);
}
